.header-top{
	background-image: url('../img/header-pattern.png');
	background-repeat: repeat;
    padding: 7px 0px;
    @media(max-width: 992px){
    	display: none;
    }
	.tuvan-hotline-email-box{
		float: left;
		.user-box{
			float:left; 
			div{
				&:first-child{
					float: left;
				}
				&:nth-child(2){
					float: left;
					margin-left: 5px;
					color: $mau;
					font-size: 13px;
					margin-top: 2px;
				}
			}			
		}
		.phone-box{
			float:left; 
			margin-left: 30px;
			div{
				&:first-child{
					float: left;
					color: $mau;
				}
				&:nth-child(2){
					float: left;
					margin-left: 5px;										
					a{
						color:$mau;
						font-size: 13px;
					}
				}
			}			
		}
		.email-box{
			float:left; 
			margin-left: 30px;
			div{
				&:first-child{
					float: left;
					color: $mau;
				}
				&:nth-child(2){
					float: left;
					margin-left: 5px;										
					a{
						color:$mau;
						font-size: 13px;
					}
				}
			}			
		}
	}
	.social-box{
		float: right;
		div{
			&:first-child{
				float: left;
				color: $mau;
			}
			&:nth-child(2){
				float: left;
				margin-left:15px;
				.social_lst{
					list-style: none;
					margin-left: 0;
					padding-left: 0;
					li{
						float: left;
						margin-right: 10px;
						&:first-child{
							a{
								color: #004f9f;
							}
						}						
						&:nth-child(2){
							a{
								color: #2989eb;
							}
						}
						&:nth-child(3){
							a{
								color: #ff0000;
							}
						}
						&:last-child{
							margin-right: 0;
							a{
								color: #dd5244;
							}
						}						
					}
				}
			}
		}		
	}
}
.header-menu{
	background-color: $menu_bg;
	padding: 2px 0px;
	@media(max-width: 992px){
		display: none;
	}
	.logo{
		    text-align: center;
    margin-left: 25px;
	}
	.menu-box{
		position: relative;
		margin-left:65px;
		#smoothmainmenu{
			margin-left:70px;
		}
		.home-icon{
			position: absolute;
			left: 0;
			top: 33px;
			a{
				color:$menu_color;
				font-size: 20px;
			}
		}
	}
}
.main-menu{
	>li{		
		&:nth-child(2){
			margin-left:35px;
			a{
				background-image: url('../img/san-pham.png');
				background-repeat: no-repeat;
				background-position: 0 center;
				padding: 35px 20px;
				&:hover{
					background-image: url('../img/san-pham.png');
					background-repeat: no-repeat;
					background-position: 0 center;
				}
			}
		}
		&:nth-child(3){
			margin-left: 20px;
			a{
				padding: 35px 0px;
			}			
		}
		&:nth-child(4){
			margin-left: 35px;
			a{
				background-image: url('../img/khach-hang.png');
				background-repeat: no-repeat;
				background-position: 0 center;
				padding: 35px 25px;
				&:hover{
					background-image: url('../img/khach-hang.png');
					background-repeat: no-repeat;
					background-position: 0 center;
				}
			}
		}
		&:nth-child(6){
			margin-left: 40px;
		}
	}
}
.owl_carousel_banner{
	.owl-dots {
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
		.owl-dot{
			span{
				width: 17px;
				height: 7px;
			}
			&:hover{
				span{
					background: #ed9205;
				}
			}
		} 
		.owl-dot.active{
			span{
				background: #ed9205;
			}
		}   
	}	
} 
.owl-theme {
	.owl-nav{
		margin-top: 0;
	}
	.owl-nav.disabled+.owl-dots{
		margin-top: 0;
	}
}
.tu_van_box {
	background: linear-gradient(to right, #caa047 , #dcbc68);
	padding: 6px 6px 6px 2px;
	position: fixed;
	top: 490px;
	right: -180px;
	z-index: 2;
	border-radius: 35px 0 0 35px;
	@media(max-width: 992px){
		display: none;
	}
	@include p-web(transition,all 0.5s);
	.icon_phone{
		float: left;
	}
	.text_phone{
		float: left;		
		.tv_24_7{
			color: #fff;
		}
		.sdt_tu_van{
			a{
				color: #fff;
			}
		}
	}
}
.mobile_navbar{
	display: none;		
	@media(max-width: 992px){
		display: block;
	}
	.box_logo_mobile{
		width: 80px;
	}
}
