.header-top{
	background-image: url('../img/header-pattern.png');
	background-repeat: repeat;
	padding: 7px 0px;
	@media(max-width: 992px){
		display: none;
	}
	.tuvan-hotline-email-box{
		float: left;
		.user-box{
			float:left; 
			div{
				&:first-child{
					float: left;
				}
				&:nth-child(2){
					float: left;
					margin-left: 5px;
					color: $mau;
					font-size: 13px;
					margin-top: 2px;
				}
			}			
		}
		.phone-box{
			float:left; 
			margin-left: 30px;
			div{
				&:first-child{
					float: left;
					color: $mau;
				}
				&:nth-child(2){
					float: left;
					margin-left: 5px;										
					a{
						color:$mau;
						font-size: 13px;
					}
				}
			}			
		}
		.email-box{
			float:left; 
			margin-left: 30px;
			div{
				&:first-child{
					float: left;
					color: $mau;
				}
				&:nth-child(2){
					float: left;
					margin-left: 5px;										
					a{
						color:$mau;
						font-size: 13px;
					}
				}
			}			
		}
	}
	.social-box{
		float: right;
		div{
			&:first-child{
				float: left;
				color: $mau;
			}
			&:nth-child(2){
				float: left;
				margin-left:15px;
				.social_lst{
					list-style: none;
					margin-left: 0;
					padding-left: 0;
					li{
						float: left;
						margin-right: 10px;
						&:first-child{
							a{
								color: #004f9f;
							}
						}						
						&:nth-child(2){
							a{
								color: #2989eb;
							}
						}
						&:nth-child(3){
							a{
								color: #ff0000;
							}
						}
						&:last-child{
							margin-right: 0;
							a{
								color: #dd5244;
							}
						}						
					}
				}
			}
		}		
	}
}
.header-menu{
	background-color: $menu_bg;
	padding: 2px 0px;
	@media(max-width: 992px){
		display: none;
	}
	.logo{
		text-align: center;
		margin-left: 25px;
	}
	.menu-box{
		position: relative;
		margin-left:65px;
		@media(max-width: 1024px){
			margin-left: 0;
		}
		#smoothmainmenu{
			margin-left:70px;
			@media(max-width: 1024px){
				margin-left: 10px;
			}
		}
		.home-icon{
			position: absolute;
			left: 0;
			top: 33px;
			a{
				color:$menu_color;
				font-size: 20px;
			}
		}
	}
}
.main-menu{
	>li{		
		&:nth-child(2){
			margin-left:35px;
			@media(max-width: 1024px){
				margin-left: 0;
			}
			a{
				background-image: url('../img/san-pham.png');
				background-repeat: no-repeat;
				background-position: 0 center;
				padding: 35px 20px;
				&:hover{
					background-image: url('../img/san-pham.png');
					background-repeat: no-repeat;
					background-position: 0 center;
				}
			}
		}
		&:nth-child(3){
			margin-left: 20px;
			@media(max-width: 1024px){
				margin-left: 0;
			}
		}
		&:nth-child(4){
			margin-left: 35px;
			@media(max-width: 1024px){
				margin-left: 0;
			}
			a{
				background-image: url('../img/khach-hang.png');
				background-repeat: no-repeat;
				background-position: 0 center;
				padding: 35px 25px;
				&:hover{
					background-image: url('../img/khach-hang.png');
					background-repeat: no-repeat;
					background-position: 0 center;
				}
			}
		}
		&:nth-child(6){
			margin-left: 40px;
			@media(max-width: 1024px){
				margin-left: 0;
			}
		}
	}
}
.owl_carousel_banner{
	.owl-dots {
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
		.owl-dot{
			span{
				width: 17px;
				height: 7px;
			}
			&:hover{
				span{
					background: #ed9205;
				}
			}
		} 
		.owl-dot.active{
			span{
				background: #ed9205;
			}
		}   
	}	
} 
.owl-theme {
	.owl-nav{
		margin-top: 0;
	}
	.owl-nav.disabled+.owl-dots{
		margin-top: 0;
	}
}
.tu_van_box {
	background: linear-gradient(to right, #caa047 , #dcbc68);
	padding: 6px 6px 6px 2px;
	position: fixed;
	top: 490px;
	right: -180px;
	z-index: 2;
	border-radius: 35px 0 0 35px;
	@media(max-width: 576px){
		display: none;
	}
	@include p-web(transition,all 0.5s);
	.icon_phone{
		float: left;
	}
	.text_phone{
		float: left;		
		.tv_24_7{
			color: #fff;
		}
		.sdt_tu_van{
			a{
				color: #fff;
			}
		}
	}
}
.navbar{
	display: none;
	position: relative;
	padding: 20px 0;
	@media(max-width: 992px){
		display: block;
	}
	.box_logo_mobile{
		width: 100px;
		position: absolute;
		left: 50%;
		top: 0;
		margin-left: -50px;		
	}
}
.hr_slideshow{
	background: url('../img/hr-slideshow.png') repeat;
	padding: 2px 0px 1px 0px;
}
.bg_ck_mp_tc{
	background: $menu_bg;
	padding: 15px 0px;	
	@media(max-width: 992px){
		display: none;
	}
	.ck_mp_tc_left{
		float: left;
	}
	.ck_mp_tc_right{
		float: left;
		color: $menu_color;
		margin-top: 7px;
		margin-left: 10px;	
		font-size: 18px;
		text-transform: uppercase;
	}
	.bg_ck_mp_tc_wp{
		width: 1044px;
		margin: auto;
	}
	.ck_wrapper{
		width: 255px;
		margin:auto;
	}
	.mp_wrapper{
		width:275px;
		margin:auto;
	}
	.tc_wrapper{
		width:258px;
		margin:auto;
	}
}
.navbar-light{
	.navbar-toggler-icon{
		background-image:url('../img/nav-line.png');		
	}
}
.bg-ck-mp-tc-tablet{
	background: $menu_bg;		
	display: none;
	@media(max-width: 992px){
		display: block;
	}
	.ck_mp_tc_left{
		float: left;
	}
	.ck_mp_tc_right{
		float: left;
		color: $menu_color;
		margin-top: 7px;
		margin-left: 10px;	
		font-size: 18px;
		text-transform: uppercase;
		@media(max-width: 576px){
			font-size: 12px;
		}
		@media(max-width: 375px){
			font-size: 10px;
		}
		@media(max-width: 320px){
			font-size: 7px;
		}
		@media(max-width: 240px){
			font-size: 6px;
		}
	}
	.bg_ck_mp_tc_wp{
		width: 1044px;
		margin: auto;
	}
	.ck_wrapper{
		width: 255px;
		margin: 0px auto;
		padding: 10px 0;
		@media(max-width: 576px){
			padding: 10px 30px;
		}
		@media(max-width: 320px){
			padding: 10px 60px;
		}
	}
	.mp_wrapper{
		width:275px;
		margin:auto;
		@media(max-width: 576px){
			width: 195px;
		}
		@media(max-width: 375px){
			width: 175px;
		}
		@media(max-width: 320px){
			width: 135px;
		}
	}
	.tc_wrapper{
		width:258px;
		margin:auto;
		@media(max-width: 576px){
			width: 195px;
		}
		@media(max-width: 375px){
			width: 175px;
		}
		@media(max-width: 320px){
			width: 135px;
		}
	}
	.mp-tc-box{
		border-top: 1px solid #ffffff;	
	}
	.mp-box{
		float: left;
		border-right: 1px solid #ffffff;
		width: 50%;
		padding: 10px 0;
	}
	.tc-box{
		float: left;
		width: 50%;
		padding: 10px 0;
	}
}
.thiet-ke-noi-that-box{		
	background-repeat: no-repeat;
	background-size: cover;	
	padding: 334px 0px 334px 0px;
	position: relative;	
	@media(max-width: 992px){
		padding:280px 0px 280px 0px;
	}
	@media(max-width: 576px){
		padding:125px 0px 125px 0px;
	}
	.tknt-box-ab{
		position: absolute;
		top: 220px;
		left: 95px;    	
		@media(max-width: 992px){    		
			top: 120px;
			left: 0;
			width: 100%;
		}
		@media(max-width: 576px){
			top: 30px;
		}
		.box-info-title{
			@media(max-width: 992px){
				text-align: center;				
			}
			a{
				text-transform: uppercase;
				color: #ffffff;
				font-size: 28px;
				font-family: $f_bold;
				@media(max-width: 992px){
					font-size: 42px;
				}		
				@media(max-width: 576px){
					font-size: 22px;
				}		
			}			
		}
		.box-info-excerpt{
			background: rgba(0,0,0,0.5);
			color: #ffffff;
			font-family: $f_regular;
			font-size: 17px;
			width: 525px;
			padding: 25px;
			margin-top: 15px;
			@media(max-width: 992px){
				width:100%;
				text-align: center;
				background:transparent;
				font-size: 30px;
			}		
			@media(max-width: 576px){
				font-size: 14px;
				padding: 10px;
				margin-top: 0px;
			}	
		}
		.box-info-readmore{
			margin-top: 20px;
			@media(max-width: 992px){
				text-align: center;
			}
			@media(max-width: 576px){
				margin-top: 0px;
			}
			a{
				display: inline-block;
				color: #ffffff;
				font-size: 14px;
				font-family: $f_bold;
				padding: 15px 30px;
				background: #0aceda;
				text-transform: uppercase;
				position: relative;
				overflow: hidden;
				z-index: 1;	
				@media(max-width: 992px){
					font-size: 28px;
				}	
				@media(max-width: 576px){
					font-size: 14px;
				}							
				&:hover{
					&:before{
						left: 0;
					}
				}
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 100%;					
					width: 100%;
					height: 100%;
					background: $logo_bg;
					z-index: -1;
					@include p-web(transition, all 0.5s);
				}
			}
		}
	}	
}
.thi-cong-noi-that-box{
	background-repeat: no-repeat;
	background-size: cover;
	padding: 334px 0px;
	position: relative;
	background-position: 0px 0px;
	@media(max-width: 576px){
		padding: 160px 0px;
	}
	.thi-cong-noi-that-info{
		position: absolute;
		top: 220px;
		right: 95px;
		@media(max-width: 992px){
			right: 0;
			top: 130px;
			width: 100%;    		
		}
		@media(max-width: 576px){
			top: 60px;
		}
		@media(max-width: 320px){
			top: 50px;
		}
		.box-info-title{
			@media(max-width: 992px){
				text-align: center;				
			}
			a{
				text-transform: uppercase;
				color: #ffffff;
				font-size: 28px;
				font-family: $f_bold;
				@media(max-width: 992px){
					font-size: 42px;
				}		
				@media(max-width: 576px){
					font-size: 22px;
				}		
			}			
		}
		.box-info-excerpt{
			background: rgba(0,0,0,0.5);
			color: #ffffff;
			font-family: $f_regular;
			font-size: 17px;
			width: 525px;
			padding: 25px;
			margin-top: 15px;
			@media(max-width: 992px){
				width:100%;
				text-align: center;
				background:transparent;
				font-size: 30px;
			}		
			@media(max-width: 576px){
				font-size: 14px;
				padding: 10px;
				margin-top: 0;
			}			
		}
		.box-info-readmore{
			margin-top: 20px;
			@media(max-width: 992px){
				text-align: center;
			}
			@media(max-width: 576px){
				margin-top: 0;
			}
			a{
				display: inline-block;
				color: #ffffff;
				font-size: 14px;
				font-family: $f_bold;
				padding: 15px 30px;
				background: #d8a52f;
				text-transform: uppercase;
				position: relative;
				overflow: hidden;
				z-index: 1;	
				@media(max-width: 992px){
					font-size: 28px;
				}	
				@media(max-width: 576px){
					font-size: 14px;
				}								
				&:hover{
					&:before{
						left: 0;
					}
				}
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 100%;					
					width: 100%;
					height: 100%;
					background: #0aceda;
					z-index: -1;
					@include p-web(transition, all 0.5s);
				}
			}
		}
	}
}
.san-pham-rem-cua-box{	
	background-repeat: no-repeat;
	background-size: cover;
	padding:314px 0px;
	position: relative;
	background-position: 0px 0px;	
	@media(max-width: 576px){
		padding:150px 0;
	}
	.rem-cua-bx{
		position: absolute;
		top: 210px;
		left: 95px;
		@media(max-width: 992px){
			left: 0;
			top: 110px;
			width: 100%;
		}
		@media(max-width: 576px){
			top: 40px;
		}
		.box-info-title{
			@media(max-width: 992px){
				text-align: center;				
			}
			a{
				text-transform: uppercase;
				color: #ffffff;
				font-size: 28px;
				font-family: $f_bold;
				@media(max-width: 992px){
					font-size: 42px;
				}		
				@media(max-width: 576px){
					font-size: 22px;
				}		
			}			
		}
		.box-info-excerpt{
			background: rgba(0,0,0,0.5);
			color: #ffffff;
			font-family: $f_regular;
			font-size: 17px;
			width: 525px;
			padding: 25px;
			margin-top: 15px;
			@media(max-width: 992px){
				width:100%;
				text-align: center;
				background:transparent;
				font-size: 30px;
			}		
			@media(max-width: 576px){
				font-size: 14px;
				margin-top: 0;
				padding: 10px;
			}	
		}
		.box-info-readmore{
			margin-top: 20px;
			@media(max-width: 992px){
				text-align: center;
			}
			@media(max-width: 576px){
				margin-top: 0;
			}
			a{
				display: inline-block;
				color: #ffffff;
				font-size: 14px;
				font-family: $f_bold;
				padding: 15px 30px;
				background: #ec1f1f;
				text-transform: uppercase;
				position: relative;
				overflow: hidden;
				z-index: 1;		
				@media(max-width: 992px){
					font-size: 28px;
				}	
				@media(max-width: 576px){
					font-size: 14px;
				}							
				&:hover{
					&:before{
						left: 0;
					}
				}
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 100%;					
					width: 100%;
					height: 100%;
					background: #0aceda;
					z-index: -1;
					@include p-web(transition, all 0.5s);
				}
			}
		}
	}	
}
.giay-dan-tuong-box{
	background-repeat: no-repeat;
	background-size: cover;
	padding: 334px 0px;
	position: relative;
	background-position: 0px 0px;	
	@media(max-width: 576px){
		padding: 140px 0;
		background-position: 0px 0px;	
	}
	.thi-cong-noi-that-info{
		position: absolute;
		top: 240px;
		right: 95px;
		@media(max-width: 992px){
			right: 0;
			top: 140px;
			width: 100%;
		}
		@media(max-width: 576px){
			top: 45px;
		}
		.box-info-title{
			@media(max-width: 992px){
				text-align: center;				
			}
			a{
				text-transform: uppercase;
				color: #ffffff;
				font-size: 28px;
				font-family: $f_bold;
				@media(max-width: 992px){
					font-size: 42px;
				}		
				@media(max-width: 576px){
					font-size: 22px;
				}		
			}			
		}
		.box-info-excerpt{
			background: rgba(0,0,0,0.5);
			color: #ffffff;
			font-family: $f_regular;
			font-size: 17px;
			width: 525px;
			padding: 25px;
			margin-top: 15px;
			@media(max-width: 992px){
				width:100%;
				text-align: center;
				background:transparent;
				font-size: 30px;
			}		
			@media(max-width: 576px){
				font-size: 14px;
				margin-top: 0;
				padding: 10px;
			}	
		}
		.box-info-readmore{
			margin-top: 20px;
			@media(max-width: 992px){
				text-align: center;
			}
			@media(max-width: 576px){
				margin-top: 0;
			}
			a{
				display: inline-block;
				color: #ffffff;
				font-size: 14px;
				font-family: $f_bold;
				padding: 15px 30px;
				background: #f68121;
				text-transform: uppercase;
				position: relative;
				overflow: hidden;
				z-index: 1;		
				@media(max-width: 992px){
					font-size: 28px;
				}	
				@media(max-width: 576px){
					font-size: 14px;
				}							
				&:hover{
					&:before{
						left: 0;
					}
				}
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 100%;					
					width: 100%;
					height: 100%;
					background: #0aceda;
					z-index: -1;
					@include p-web(transition, all 0.5s);
				}
			}
		}
	}
}
.dan-phoi-thong-minh-box{	
	background-repeat: no-repeat;
	background-size: cover;
	padding: 334px 0px 334px 0px;
	background-position: 0px 0px;
	position: relative;	
	@media(max-width: 576px){
		padding: 140px 0;
		background-position: 0px 0px;	
	}	
	.dan-phoi-box{
		position: absolute;
		top: 220px;
		left: 95px;    	
		@media(max-width: 992px){
			left: 0;
			top: 110px;
			width: 100%;
		}
		@media(max-width: 576px){
			top:45px;
		}
		@media(max-width: 240px){
			top:5px;
		}
		.box-info-title{
			@media(max-width: 992px){
				text-align: center;				
			}
			a{
				text-transform: uppercase;
				color: #ffffff;
				font-size: 28px;
				font-family: $f_bold;
				@media(max-width: 992px){
					font-size: 42px;
				}		
				@media(max-width: 576px){
					font-size: 22px;
				}		
			}			
		}
		.box-info-excerpt{
			background: rgba(0,0,0,0.5);
			color: #ffffff;
			font-family: $f_regular;
			font-size: 17px;
			width: 525px;
			padding: 25px;
			margin-top: 15px;
			@media(max-width: 992px){
				width:100%;
				text-align: center;
				background:transparent;
				font-size: 30px;
			}		
			@media(max-width: 576px){
				font-size: 14px;
				margin-top: 0;
				padding: 10px;
			}	
		}
		.box-info-readmore{
			margin-top: 20px;
			@media(max-width: 992px){
				text-align: center;
			}
			@media(max-width: 576px){
				margin-top: 0;
			}
			a{
				display: inline-block;
				color: #ffffff;
				font-size: 14px;
				font-family: $f_bold;
				padding: 15px 30px;
				background: #e264af;
				text-transform: uppercase;
				position: relative;
				overflow: hidden;
				z-index: 1;		
				@media(max-width: 992px){
					font-size: 28px;
				}	
				@media(max-width: 576px){
					font-size: 14px;
				}							
				&:hover{
					&:before{
						left: 0;
					}
				}
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 100%;					
					width: 100%;
					height: 100%;
					background: #0aceda;
					z-index: -1;
					@include p-web(transition, all 0.5s);
				}
			}
		}
	}	
}
.thuong_hieu_box{
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 55px;
	.dvcchungtoi{
		color: #e8a61b;
		text-align: center;
		font-size: 36px;
		padding-top: 45px;
		padding-bottom: 35px;
		@media(max-width: 375px){
			font-size: 30px;
		}
		@media(max-width: 320px){
			font-size: 25px;
		}
		@media(max-width: 240px){
			font-size: 20px;
		}
	}
	.owl_carousel_trade{
		.owl-prev{
			position: absolute;
			left: -70px;
			top: 25px;
			background-color: transparent !important;	
			@media(max-width: 1024px){
				left: -30px;
			}
			@media(max-width: 992px){
				top: 15px
			}
			@media(max-width: 740px){
				top: 25px
			}
			@media(max-width: 576px){
				top: 35px;
				left: -10px;
			}
			@media(max-width: 320px){
				top:55px;				
			}
			@media(max-width: 240px){
				top:40px;				
			}
		}	
		.owl-next{
			position: absolute;
			right: -70px;
			top: 25px;
			background-color: transparent !important;	
			@media(max-width: 1024px){
				right: -30px;
			}
			@media(max-width: 992px){
				top: 15px
			}
			@media(max-width: 740px){
				top: 25px
			}
			@media(max-width: 576px){
				top: 35px;
				right: -10px;
			}
			@media(max-width: 320px){
				top: 55px;				
			}
			@media(max-width: 240px){
				top:40px;				
			}
		}
		.owl-nav{
			[class*=owl-]{
				margin: 0;
				color: #5d5d5d;
				border: 1px solid #d3d3d3;
				padding: 3px 9px;
				border-radius: 14px;
				@include p-web(transition,all 900ms);
				&:hover{
					color:#fff;	
					background-color: #e8a61b !important;
					border:1px solid #e8a61b;
				}
			}	
		} 
	} 
	.thuong_hieu_box_arrow{
		a{
			display: block;
		}
	}
}
.content_bottom_h{
	color: #e8a61b;
	font-size: 36px;
	border-left: 2px solid #e8a61b;
	margin-top: 65px;
	margin-bottom: 45px;
	padding-left: 15px;
	line-height: 33px;
	@media(max-width: 992px){
		margin-top: 50px;
		margin-bottom: 30px;
	}
	@media(max-width: 240px){
		font-size: 25px;
	}
}
.article_box{
	border:1px solid #f0e3ca;		
	margin-bottom: 30px;	
	&:last-child{
		margin-bottom: 0;
	}
	.article_hinh_anh{
		float: left;
		width: 253px;
		@media(max-width: 1024px){
			width: 210px;
		}	
		@media(max-width: 576px){
			width: 110px;
		}
		@media(max-width: 360px){
			width: 110px;
		}	
		@media(max-width: 320px){
			width: 65px;
		}
		@media(max-width: 240px){
			width: 100%;
		}
		a{
			display: block;
			.news-bx-img{
				background-repeat: no-repeat;
				background-size: cover;
				padding-top: calc(100% / (400 / 400));
			}
		}
	}
	.article_info{
		padding-top: 15px;
		padding-left: 15px;
		padding-bottom: 15px;
		padding-right: 15px;
		float: left;
		width: 280px;
		@media(max-width: 1024px){
			width: 230px;
		}
		@media(max-width: 992px){
			width: 475px;
		}
		@media(max-width: 740px){
			width: 290px;
		}
		@media(max-width: 576px){
			width: 240px;
		}
		@media(max-width: 375px){
			width: 200px;
		}
		@media(max-width: 360px){
			width: 215px;
		}
		@media(max-width: 320px){
			width: 220px;
			padding-top: 0px;		
			padding-bottom: 0px;		
		}	
		@media(max-width: 240px){
			width: 100%;
			padding-top: 15px;		
			padding-bottom: 15px;		
		}		
		.article_info_date_post{
			color: #aaaaaa;
			font-size: 12px;
			@media(max-width: 320px){
				display: none;
			}
			@media(max-width: 240px){
				display: block;
			}
		}
		.article_info_title{
			margin-top: 10px;
			@media(max-width: 320px){
				margin-top: 0;
			}
			a{
				font-size: 15px;
				color: #e8a61b;
				text-transform: uppercase;
				@include p-web(transition,all 0.5s);
				line-height: 25px;
				display: block;    
				&:hover{
					color: #ff0000;
				}		
				@media(max-width: 320px){
					font-size: 12px;
				}
				@media(max-width: 240px){
					font-size: 15px;
				}					
			}
		}
		.article_info_intro{
			font-size: 15px;
			margin-top: 10px;	
			height: 135px;
			overflow: hidden;
			@media(max-width: 1024px){
				height: 90px;
			}
			@media(max-width: 576px){
				display: none;
			}	
			@media(max-width: 240px){
				display: block;
			}				
		}
	}
}
.img_bottom{
	margin-bottom: 30px;
	a{
		display: block;
		position: relative;
		overflow: hidden;		
		.overlay{
			background-color: #e5b757;
			position: absolute;
			top: 0%;
			left: 0;
			height: 92%;
			width: 92%;
			opacity:0;
			@include p-web(transition,all 900ms);
			text-transform: uppercase;
			display: flex;
			align-items:center;
			justify-content:center;
			color: #fff;
			font-family: $f_bold;
			font-size: 50px;
			margin: 10px;
		}
		&:hover{
			.overlay{				
				opacity:0.7;				
			}			
		}
		.bottom-img-calc{
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: calc(100% / (400 / 400));
		}
	}
}
.owl_carousel_gallery{
	.owl-nav{
		margin-top: 0 !important;
	}
	.owl-prev{
		position: absolute;
		left: 0;
		bottom: -42px;
	}
	.owl-next{
		position: absolute;
		left: 45px;
		bottom: -42px;
	}
	.owl-nav{
		[class*=owl-]{
			margin: 0;
			background: transparent;
			color: #e8a61b;
			border: 1px solid #cccccc;
			border-radius: 0;
			padding: 6px 12px;	
			@include p-web(transition,all 900ms);	
			&:hover{
				background-color: #e8a61b;
				border:1px solid #e8a61b;
			}			
		}	
	} 
}
.readmore2{	
	margin-top: 35px;
	a{
		display: inline-block;
		border: 1px solid #cccccc;
		padding: 5px 40px;
		background-color: #fff;		
		color: #494949;
		font-size: 16px;
		text-transform: uppercase;
		@include p-web(transition,all 0.5s);
		&:hover{
			background-color: #e4bf71;
			color: #fff;
			border: 1px solid #e9b444;
		}
	}
}
.box-gallery2{
	display: none;
	@media(max-width: 575px){
		display: block;
	}
}
.box-gallery1{
	@media(max-width: 576px){
		display: none;
	}
}
.owl_carousel_gallery2{
	.owl-dots {		
		position: absolute;
		bottom: -15px;
		left: 0;
		width: 100%;
		.owl-dot.active{
			span{
				background: #ed9205;
			}
		}   
		.owl-dot{
			span{
				background: none;
				border:1px solid #ed9205;
			}
			&:hover{
				span{
					background: #ed9205;
				}
			}
		}   
	}	
} 
.bg-bottom2{
	background: url('../img/bg_info.png');
	padding-bottom: 48px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 90px;
	.tsnhtv_goldenhomes{
		text-align: center;
		color: #fff;
		padding-top: 45px;
		font-size: 24px;
		text-transform: uppercase;
		@media(max-width: 576px){
			font-size: 20px;
		}
	}
	.thong-so{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		@media(max-width: 992px){
			width: 70%;
		}
		@media(max-width: 740px){
			width: 90%;
		}
		@media(max-width: 576px){
			width: 81%;
		}
		@media(max-width: 375px){
			width: 90%;
		}
		@media(max-width: 360px){
			width: 95%;
		}
		@media(max-width: 320px){
			width: 100%;
		}
		.bo-khach-hang-tieu-bieu{
			float: left;
			@media(max-width: 240px){
				width: 100%;
			}
		}
		.bo-tho-tay-nghe-cao{
			float: left;
			margin-left: 50px;
			@media(max-width: 576px){
				margin-left: 30px;
			}
			@media(max-width: 320px){
				margin-left: 10px;
			}
			@media(max-width: 240px){
				width: 100%;
				margin-left: 0px;
			}
		}
		.why_box{
			text-align: center;
			color: #fff;
			margin-top: 30px;
			.why_box_solieu{
				font-size: 44px;
				@media(max-width: 576px){
					font-size: 30px;
				}
			}
			.why_box_hr{
				width: 66px;
				border-top: 1px solid #d49a21;
				margin: 15px auto 0px auto;
			}
			.why_box_txt{
				font-size: 22px;
				margin-top: 10px;
				@media(max-width: 576px){
					font-size: 15px;
				}
			}
		}
	}	
}
.bg_bottom{
	background: url('../img/bg_info.png');
	padding-bottom: 48px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 90px;
	@media(max-width: 992px){
		display:none;
	}
	.tsnhtv_goldenhomes{
		text-align: center;
		color: #fff;
		padding-top: 45px;
		font-size: 24px;
		text-transform: uppercase;
		@media(max-width: 576px){
			font-size: 20px;
		}
	}
	.why_box{
		text-align: center;
		color: #fff;
		margin-top: 30px;
		.why_box_solieu{
			font-size: 44px;
		}
		.why_box_hr{
			width: 66px;
			border-top: 1px solid #d49a21;
			margin: 15px auto 0px auto;
		}
		.why_box_txt{
			font-size: 22px;
			margin-top: 10px;
		}
	}
}
.bg-bottom2{
	background: url('../img/bg_info.png');
	padding-bottom: 48px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 90px;
	display: none;
	@media(max-width: 992px){
		display: block;
	}
	.tsnhtv_goldenhomes{
		text-align: center;
		color: #fff;
		padding-top: 45px;
		font-size: 24px;
		text-transform: uppercase;
		@media(max-width: 576px){
			font-size: 20px;
		}
	}
	.why_box{
		text-align: center;
		color: #fff;
		margin-top: 30px;
		.why_box_solieu{
			font-size: 44px;
		}
		.why_box_hr{
			width: 66px;
			border-top: 1px solid #d49a21;
			margin: 15px auto 0px auto;
		}
		.why_box_txt{
			font-size: 22px;
			margin-top: 10px;
		}
	}
}
.footer{
	background-color: #0c303b;
	padding-top: 95px;	
	@media(max-width: 740px){
		padding-top: 50px;
	}	
	.footer_info{		
		color: #fff;
		.tru_so_chinh{
			font-size: 18px;
			text-transform: uppercase;
			margin-bottom: 20px;
			@media(max-width: 576px){
				margin-bottom: 20px;
				text-align: center;
			}	
		}
		.about_us{
			font-size: 18px;
			text-transform: uppercase;
			margin-top: 40px;
			margin-bottom: 20px;
			@media(max-width: 576px){
				text-align: center;
			}
		}
		.about_us_intro{
			font-size: 14px;			
		}
		.telephone_r{
			margin-top: 10px;
			a{
				color: #fff;
				font-size: 15px;
				@media(max-width: 740px){
					font-size: 14px;
				}
			}
		}
		.menu_footer{
			list-style: none;	
			margin-bottom: 0;
			padding-left: 0;
			a{
				color: #fff;
				font-size: 15px;
				display: block;
			}
			li{
				padding-bottom: 10px;
				&:last-child{
					padding-bottom: 0;
				}
			}	
		}		
	}
	.footer_social{
		list-style: none;
		margin-bottom: 0;
		margin-top: 30px;
		padding-left: 0;		
		li{
			display: inline-block;
			margin-right: 5px;
			@media(max-width: 992px){
				margin-right: 2px;
			}
			&:first-child{
				a{
					border-radius: 21px;
					padding: 3px 11px;
					background-color: #3b5998;				
				}

			}
			&:nth-child(2){
				a{
					border-radius: 21px;
					padding: 3px 8px;
					background-color: #be0a0a;					
				}			
			}
			&:nth-child(3){
				a{
					border-radius: 21px;
					padding: 3px 8px;
					background-color: #45b0e4;					
				}			
			}
			&:last-child{
				a{
					border-radius: 21px;
					padding:3px 5px;
					background-color: #dd4b39;					
				}			
			}				
		}
		a{
			color: #fff;
			display: block;
			font-size: 17px;
		}
	}	
	.footer_copyright{
		border-top: 1px solid #20414b;
		padding: 15px 0;
		text-align: center;
		font-size: 11px;
		margin-top: 55px;
		@media(max-width: 576px){
			margin-top: 30px;
		}
		.copyright{
			color: #fff;
		}
		.golden_home{
			a{
				color: #b58c41;
			}
		}
	}
	.san-pham-footer{
		float: left;
		@media(max-width: 992px){
			display: none;
		}		
	}
	.map-box{
		float: right;
		@media(max-width: 576px){
			float: none;
			text-align: center;
			margin-top: 20px;
		}
		.box-social-map{
			display: none;
			@media(max-width: 992px){
				display: block;
			}
		}
		.map-taro{
			@media(max-width: 576px){
				display: none;
			}
		}
	}
}
.box-single{
	margin-bottom: 30px;
	.facebook-comment{
		margin-top: 20px;
	}
	.single-title{
		font-family: $f_bold;
		font-size: 33px;
		text-transform: uppercase;
		margin-top: 40px;
	}
	.single-content{
		margin-top:20px;
		font-size: 16px;
	}
	.single-thong-tin-chi-tiet{
		background-color: $menu_bg;
		padding: 20px 10px;
		text-align: center;
		border-radius: 25px;
		.dbtttct{
			color: #fff;
			font-size: 20px;
			@media(max-width: 240px){
				font-size: 15px;
			}
		}
		.goldenhomes{
			font-family: $f_bold;
			font-size: 34px;
			color: $logo_bg;
			@media(max-width: 240px){
				font-size: 25px;
			}			
		}
		.dc-dt-em{
			margin-top: 15px;
			.golden-left{
				color: #e8a61b;
			}
			.golden-right{
				a{
					color: #ffffff;
					font-size: 15px;
					@media(max-width: 240px){
						font-size: 13px;
					}
				}				
			}
		}		
	}
	.article-related-title{
		font-family: $f_bold;
		font-size: 20px;
		color: #494949;
		text-transform: uppercase;
		margin-top: 25px;
	}		
	.related-article{
		margin-top: 20px;
	}
}
.box-product{
	margin-bottom: 30px;
	margin-top: 30px;
	.san-pham-title{
		font-family: $f_bold;
		font-size: 33px;
		color: #494949;
		text-transform: uppercase;
		text-align: center;
		@media(max-width: 740px){
			background: #e8ab3c;
			color: #fff;
			font-size: 25px;
			padding: 10px 5px;
			border-radius: 15px 15px 0px 0px;
		}
	}
	.lst-category-wrapper{
		text-align: center;
		margin-top: 25px;
		margin-bottom: 40px;
		@media(max-width: 740px){
			margin-top: 0;
			border-left: 1px solid #e8ab3c;
			border-right: 1px solid #e8ab3c;
			border-bottom: 1px solid #e8ab3c;
			border-radius: 0px 0px 15px 15px;
		}		
		.category-lst-title{			
			list-style: none;
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 0;
			padding-left: 0;
			@media(max-width: 740px){
				border-top: 1px solid #e8ab3c;
			}
			.category-title{
				display: inline-block;
				margin-left: 5px;
				margin-top: 5px;
				@media(max-width: 740px){
					display: block;
					margin-top: 0px;
					margin-left: 0;
					padding: 0px 15px;
				}
				&:first-child{
					margin-left: 0;
				}
				&:last-child{
					a{
						@media(max-width: 740px){
							border: 0;
						}						
					}
				}
				a{
					display: block;
					text-align: center;
					border: 1px solid #e8ab3c ;
					padding: 5px 15px;
					border-radius:17px;
					text-transform: uppercase;
					color: #e8ab3c;
					@include p-web(transition,all 0.5s);
					&:hover{
						background: #e8ab3c;
						color: #ffffff;
						@media(max-width: 740px){
							background: transparent;
							color: inherit;
						}
					}
					@media(max-width: 740px){
						text-align: left;
						border-radius: 0;
						border-top: 0;						
						border-right: 0;						
						border-left: 0;
						border-bottom: 1px dotted #e8ab3c;	
						padding: 10px 0px;				
					}
				}
			}
		}
	}		
}
.wood_box_wp{
	margin-bottom: 50px;
	.h3_wood{			
		margin-top: 20px;
		a{
			font-size: 20px;
			color:#e8a61b;
			@include p-web(transition,all 0.5s);
			&:hover{
				color: #ff0000;
			}
		}
	}
	.service_line_wood{
		border-top: 1px solid #e8a61b;
		width: 160px;
		margin-top: 5px;
	}		
	.wood_img{			
		a{
			display: block;
			position: relative;
			overflow: hidden;
			.do_go_img{
				background-repeat: no-repeat;
				background-size: cover;
				padding-top: calc(100% / (360 / 279));
			}
			.overlay{
				background-color:#e8a61b; 
				position: absolute;
				top: -100%;
				left: 0;
				height: 100%;
				width: 100%;	
				opacity: 0;		
				@include p-web(transition,all 0.5s);
				text-transform: uppercase;
				display: flex;
				align-items:center;
				justify-content:center;
				color: #fff;
				font-family: $f_bold;
				font-size: 18px;
			}
			&:hover{
				.overlay{
					top: 0;		
					opacity: 0.9;						
				}			
			}
		}
	}
}	
.box-service{
	margin-bottom: 80px;
	margin-top: 30px;
	.san-pham-title{
		font-family: $f_bold;
		font-size: 33px;
		color: #494949;
		text-transform: uppercase;
		text-align: center;		
	}
	.service-bol-1{
		margin-top: 50px;
		background-color: $menu_bg;
		.bol-service-left{
			float: left;			
			width: 50%;		
			position: relative;
			@media(max-width: 992px){
				width: 100%;
			}					
			.service-img{
				background-size: cover;
				background-repeat: no-repeat;
				padding-top: calc(100% / ( 550  /  390));									
			}		
			.corel{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;		
				padding: 10px;		
				.outline-box{
					border: 1px solid #e8ab3c;
					width: 100%;
					height: 100%;
					display: flex;
					align-items:center;
					justify-content:center;					
					.hinh-binh-hanh{
						width: 250px;
						height: 70px;
						background: rgba(0,0,0,0.5);
						-webkit-transform: skew(-20deg);
						-moz-transform: skew(-20deg);
						-o-transform: skew(-20deg);
						transform: skew(-20deg);
						padding: 10px;
						.binh-hinh-hanh{
							width: 100%;
							height: 100%;
							background: transparent;						
							border-top: 1px solid #e8a61b;
							border-bottom: 1px solid #e8a61b;
							display: flex;
							align-items:center;
							justify-content:center;						
							.hanh-binh-title{
								font-family: $f_regular;
								font-size: 18px;
								color: #e8a61b;
								text-transform: uppercase;								
							}
						}					
					}
				}
			}				
		}
		.bol-service-right{
			float: left;
			width: 50%;
			padding: 70px 70px 0px 70px;
			@media(max-width: 1024px){
				padding: 30px 30px 0px 30px;
			}	
			@media(max-width: 992px){
				width: 100%;
				padding: 30px 30px 30px 30px;
			}		
		}
	}
	.service-bol-2{
		margin-top: 50px;
		background-color: $menu_bg;
		.bol-service-left{
			float: left;
			width: 50%;
			padding: 70px 70px 0px 70px;	
			@media(max-width: 1024px){
				padding: 30px 30px 0px 30px;
			}	
			@media(max-width: 992px){
				width: 100%;
				padding: 30px 30px 30px 30px;
			}		
		}
		.bol-service-right{
			float: left;			
			width: 50%;		
			position: relative;	
			@media(max-width: 992px){
				width: 100%;
			}				
			.service-img{
				background-size: cover;
				background-repeat: no-repeat;
				padding-top: calc(100% / ( 550  /  390));									
			}		
			.corel{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;		
				padding: 10px;		
				.outline-box{
					border: 1px solid #e8ab3c;
					width: 100%;
					height: 100%;
					display: flex;
					align-items:center;
					justify-content:center;					
					.hinh-binh-hanh{
						width: 250px;
						height: 70px;
						background: rgba(0,0,0,0.5);
						-webkit-transform: skew(-20deg);
						-moz-transform: skew(-20deg);
						-o-transform: skew(-20deg);
						transform: skew(-20deg);
						padding: 10px;
						.binh-hinh-hanh{
							width: 100%;
							height: 100%;
							background: transparent;						
							border-top: 1px solid #e8a61b;
							border-bottom: 1px solid #e8a61b;
							display: flex;
							align-items:center;
							justify-content:center;						
							.hanh-binh-title{
								font-family: $f_regular;
								font-size: 18px;
								color: #e8a61b;
								text-transform: uppercase;								
							}
						}					
					}
				}
			}				
		}
	}
	.service-title{
		a{
			font-family: $f_bold;
			font-size: 28px;
			color: #ffffff;
			text-transform: uppercase;
			@media(max-width: 320px){
				font-size: 20px;
			}
			@media(max-width: 240px){
				font-size: 15px;
			}
		}				
	}
	.service-excerpt{
		font-family: $f_regular;
		font-size: 15px;
		color: #ffffff;
		margin-top: 35px;
		@media(max-width: 1024px){
			margin-top: 10px
		}
	}
	.service-readmore{
		margin-top: 35px;
		@media(max-width: 1024px){
			margin-top:25px
		}
		a{
			display: inline-block;
			color: #ffffff;
			font-size: 14px;
			font-family: $f_regular;
			padding: 10px 30px;
			background: transparent;
			text-transform: uppercase;
			position: relative;
			overflow: hidden;
			z-index: 1;		
			border: 1px solid #c0c0c0;	
			@media(max-width: 240px){
				padding: 10px 20px;
			}					
			&:hover{
				&:before{
					left: 0;
				}
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 100%;					
				width: 100%;
				height: 100%;
				background: #0aceda;
				z-index: -1;
				@include p-web(transition, all 0.5s);
			}
		}
	}
}
.box-customer{
	margin-bottom: 80px;
	margin-top: 30px;
	.san-pham-title{
		font-family: $f_bold;
		font-size: 33px;
		color: #494949;
		text-transform: uppercase;
		text-align: center;	
		margin-bottom: 40px;	
		@media(max-width: 240px){
			font-size: 30px;
		}
	}
	.customer-item{
		margin-bottom: 60px;
		.customer-item-shadow{
			box-shadow: 2px 2px 3px 1px #efefef;
			padding: 10px;
			.customer-item-outline{
				border:1px solid #e8ab3c;
				a{
					display: block;
					.partner-img{
						background-repeat: no-repeat;
						background-size: cover;
						width: 100%;						
						padding-top: calc(100% / ( 340  /  235));				
					}
				}				
			}
		}
		.customer-name{
			font-family: $f_bold;
			font-size: 18px;
			color: #000;
			text-transform: uppercase;
			text-align: center;
			margin-top: 30px;
			padding: 0 20px;
		}	
		.customer-comment{
			margin-top: 15px;
			font-family: $f_regular;
			color: #4a4a4a;
			padding: 0 20px;
			text-align: center;
		}	
	}
}
.box-news{
	margin-bottom: 80px;
	margin-top: 30px;
	.san-pham-title{
		font-family: $f_bold;
		font-size: 33px;
		color: #494949;
		text-transform: uppercase;
		text-align: center;	
		margin-bottom: 40px;
		@media(max-width: 320px){
			font-size: 30px;
		}	
		@media(max-width: 240px){
			font-size: 20px;
		}	
	}
	.news-item{
		@media(max-width: 992px){
			margin-bottom: 50px;
		}
		a{
			display: block;
			.news-img{
				background-size: cover;
				background-repeat: no-repeat;
				padding-top: calc(100% / (555 / 335) );
			}
		}		
		.news-date-post{
			font-family: $f_regular;
			font-size: 12px;
			color: #aaaaaa;
			margin-top: 25px;
		}
		.news-title{	
			margin-top: 15px;		
			a{
				font-family: $f_regular;
				font-size: 16px;
				color: #000000;
				text-transform: uppercase;
			}
		}
		.news-excerpt{
			font-family: $f_regular;
			font-size: 15px;
			color: #3a4449;
			margin-top: 10px;
		}
	}
	.news-bx{
		margin-top: 65px;
	}
	.news-kadric{
		margin-top: 30px;
		.box-art{
			margin-bottom: 30px;
		}	
	}	
}
.box-contact{
	margin-bottom: 80px;
	margin-top: 30px;
	.san-pham-title{
		font-family: $f_bold;
		font-size: 33px;
		color: #494949;
		text-transform: uppercase;
		text-align: center;	
		margin-bottom: 5px;
	}
	.gdhomes{
		font-family: $f_bold;
		font-size: 34px;
		color: #d9b763;
		text-transform: uppercase;	
		text-align: center;		
	}
	.contact-marker{
		color: #e8a61b;
	}
	.contact-address{
		a{
			font-family: $f_regular;
			font-size: 15px;
			color: #4a4a4a;
		}
	}
	.gdhomes-address{
		text-align: center;
		margin-top: 30px;
		
	}
	.gdhomes-phone{
		text-align: center;
		margin-top: 10px;
		
	}
	.big-contact{
		border:1px solid #ededed;
		padding: 25px 30px 25px 30px;
		margin-top: 60px;
		box-shadow: 2px 2px 3px 1px #efefef;
		.nhapthongtinlienhe{
			font-family: $f_bold;
			font-size: 20px;
			color: #494949;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
	}
	.big-map{
		margin-top: 60px;
	}
	.ck_contact{
		margin-top: 10px;
		.contact-dt{
			float: left;
			width: 49%;
		}
		.contact-email{
			float: left;
			width: 49%;
			margin-left: 9px;
		}
	}
	.ck_submit{
		margin-top: 10px;
		a{
			display:block;
			color: #ffffff;
			padding: 5px 50px;
			background-color: #e8a61b;
			font-family: $f_bold;
			font-size: 18px;
			text-transform: uppercase;
			border-radius: 5px;
			float: left;
			@include p-web(transition,all 0.5s);
			&:hover{
				background-color: #f89431;
			}
		}
	}
}

.box-product-detail{	
	margin-bottom: 80px;		
	.product-info-box{
		margin-top: 40px;
		position: relative;
		.info-product-title{
			font-family: $f_bold;
			font-size: 23px;
			color: #494949;
			text-transform: uppercase;
		}
		.sao-danh-gia{
			margin-top: 10px;
			.item-ngoi-sao{
				float: left;
				margin-left: 5px;
				width: 17px;
			}
		}
		.ma-hang{
			margin-top: 10px;
			.mahang{
				font-family: $f_bold;
				font-size: 16px;
				color: #242424;				
			}
			.mhdynamic{
				font-family: $f_regular;
				font-size: 16px;
				color: #242424;
				text-transform: uppercase;
			}
		}
		.chat-lieu{
			margin-top: 25px;
			span{
				&:first-child{
					font-family: $f_bold;
					font-size: 16px;
					color: #242424;		
				}
				&:last-child{
					font-family: $f_regular;
					font-size: 16px;
					color: #242424;
				}
			}
		}
		.product-excerpt{
			margin-top: 25px;
		}
		.lienhe{
			margin-top: 25px;
			.product-size{
				float: left;
				margin-top: 10px;
				@media(max-width: 240px){
					margin-top: 8px;
				}
				span{
					&:first-child{
						font-family: $f_bold;
						font-size: 16px;
						color: #242424;		
					}
					&:last-child{
						font-family: $f_regular;
						font-size: 16px;
						color: #242424;
					}
				}
			}
			.lienhebtn{
				float: left;
				margin-left: 40px;	
				@media(max-width: 1024px){
					margin-left: 20px;
				}		
				@media(max-width: 240px){
					margin-left: 5px;
				}	
				a{
					display: inline-block;
					background-color: #e8a61b;
					color: #ffffff;
					text-transform: uppercase;
					text-align: center;
					padding:10px 60px;
					@include p-web(transition,all 0.5s);
					border-radius:23px;
					font-family: $f_regular;
					font-size: 18px;
					&:hover{
						background-color: #dc9500;
					}
					@media(max-width: 1024px){
						padding: 10px 45px;
					}
					@media(max-width: 240px){
						padding: 10px 25px;
						font-size: 15px;
					}					
				}
			}
		}
		.giam-gia{
			position: absolute;
			right: 0;
			top: 20px;
			background-color: #e8a61b;
			font-family: $f_bold;
			color: #ffffff;
			font-size: 13px;
			padding: 5px 10px;
			border-radius: 24px;
			@media(max-width: 240px){
				top: 35px;
			}
			div{
				&:first-child{
					margin-top: 0;
				}
				&:last-child{
					margin-top: 0;
				}
			}			
		}
	}
	.box_sp_img{
		background-color: #ffffff;		
		margin-top: 40px;
		.box-ca{
			margin-top: 25px;
			a{
				display: block;
				div{
					background-repeat: no-repeat;
					background-size: cover;
					padding-top: calc(100% / (600 / 400));
				}
			}
		}
		.owl_carousel_product_detail{
			.owl-prev {
				position: absolute;
				left: -25px;
				top: 18px;
				background-color: transparent !important;	
				@media(max-width: 1024px){
					top: 12px;
				}
				@media(max-width: 992px){
					top: 25px;
				}
				@media(max-width: 740px){
					top:35px;
				}
				@media(max-width: 576px){
					top:25px;
				}
				@media(max-width: 375px){
					top:20px;
				}	
				@media(max-width: 360px){
					top:15px;
				}	
				@media(max-width: 320px){
					top:12px;
				}
				@media(max-width: 240px){
					top:3px;
				}		
			}
			.owl-next {
				position: absolute;
				right: -25px;
				top:18px;
				background-color: transparent !important;	
				@media(max-width: 1024px){
					top: 12px;
				}
				@media(max-width: 992px){
					top: 25px;
				}	
				@media(max-width: 740px){
					top:35px;
				}	
				@media(max-width: 576px){
					top:25px;
				}	
				@media(max-width: 375px){
					top:20px;
				}
				@media(max-width: 360px){
					top:15px;
				}
				@media(max-width: 320px){
					top:12px;
				}	
				@media(max-width: 240px){
					top:3px;
				}
			}
			.owl-nav{
				[class*=owl-]{					
					color: #5d5d5d;																			
				}	
			}
		}
		.box_img_w{
			text-align: center;    		
			a{
				display: block;
				.img-detail{
					background-repeat: no-repeat;
					background-size: cover;    				
					padding-top: calc(100% / (600 / 400));
				}
			}
		}
	}
	.product_detail_title{
		color: #5a5a5a;
		font-size: 24px;
		font-weight: $f_bold;
		text-transform: uppercase;
	}
	.product_detailst{
		margin-top: 10px;
		.product_detail_status_checked{
			color: $logo_bg;
		}
		.product_detail_status{
			color: $logo_bg;
			font-family: $f_bold;
			text-transform: uppercase;
		}
	}
	.product_detail_contact{
		margin-top: 25px;
		.product_detail_contact_left{
			float: left;
			.lienhe{
				text-transform: uppercase;
				font-size: 20px;
				color: #5a5a5a;
			}
			.sdt_lh{
				margin-left: 5px;
				a{
					color: $logo_bg;					
					font-size: 20px;
				}
			}
		}
		.product_detail_contact_right{
			float: right;
			.nhanbaogia{
				a{
					display: flex;
					justify-content: center;
					align-items: center;
					text-transform: uppercase;
					font-size: 16px;
					color: #ffffff;
					background-color: #ef0f29;
					padding: 6px 15px;
					border-radius: 5px;
					@include p-web(transition , all 900ms);
					.nbg{
						margin-left: 10px;
					}
					&:hover{
						background-color: $logo_bg;
					}
				}
			}
		}		
	}	
	.product_l_h{
		margin-top: 10px;
		border-top: 1px solid #dfdede;
	}
	.product_detail_intro{
		margin-top: 5px;
	}	
	.product_detail_social{
		list-style: none;
		margin-top: 20px;			
		padding-left: 0;	
		li{
			float: left;
			a{				
				padding: 0px 5px;
				font-size: 15px;
				font-weight: bold;
			}
			&:first-child{
				a{
					color: #1738b4;
				}
			}
			&:nth-child(2){
				a{
					color: #2bc0f1;
				}	
			}
			&:nth-child(3){
				a{
					color: #ff0000;
				}	
			}
			&:nth-child(4){
				a{
					color: #f65d39;
				}	
			}
		}
	}
	.product_detail_content{
		border:1px solid #dfdede;
		background-color: #ffffff;
		padding: 40px 35px;		
		margin-top: 30px;
	}
	.product-tab{
		@media(max-width: 992px){
			margin-top: 30px;
		}		
		.tab{
			button{
				background:none;
				border:0;
				font-family: $f_regular;
				font-size: 18px;
				color: #0a323e;				
				text-transform: uppercase;
				padding: 20px 25px;
				outline: none;
				cursor: pointer;
				&.active{
					background-color: #e8a61b;
					color: #ffffff;
				}
				@media(max-width: 576px){
					padding: 15px 20px;
				}
				@media(max-width: 360px){
					padding: 10px 15px;
				}
				@media(max-width: 320px){					
					font-size: 15px;
				}
				@media(max-width: 240px){					
					font-size: 12px;
					padding: 10px 8px;
				}
			}
		}
		.tabcontent{
			display: none;
			border-top: 2px solid #e8a61b;
			padding-top: 30px;
		}		
	}	
	.product-related{
		float: left;
		font-family: $f_regular;
		font-size: 18px;
		color: #ffffff;
		text-transform: uppercase;
		background-color: #e8a61b;
		padding: 20px 25px;
		margin-top: 10px;
		@media(max-width: 320px){
			padding: 10px 10px;
			font-size: 15px;
		}
		@media(max-width: 240px){
			padding: 10px 5px;
			font-size:12px;
		}
	}
	.splq-line{
		border-top: 2px solid #e8a61b;
	}
	.product-related-carousel{
		margin-top: 40px;
	}
	.owl_carousel_product_related div.owl-prev,.owl_carousel_product_related div.owl-next{
		background: #e8a61b;
		color: #ffffff;
		padding: 5px 11px;
	}
	.owl_carousel_product_related div.owl-prev{
		position: absolute;
		right: 35px;
		top: -80px;

	}
	.owl_carousel_product_related div.owl-next{
		position: absolute;
		right: 0;
		top: -80px;
	}
}
.support-online-box{
	background-color: #f1f3f4;
	border-radius: 10px;
	position: relative;
	margin-top: 40px;
	padding-bottom: 20px;
	@media(max-width: 740px){
		text-align: center;		
	}		
	.ho-tro-tot{
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: calc(100% / ( 360 / 212 ));	
		position: relative;	
		.httt{		
			position: absolute;	
			top: 105px;
			left: 0;
			width: 100%;			
			padding: 0px 20px;
			@media(max-width: 992px){
				top: 90px;
			}	
			@media(max-width: 320px){
				top: 40px;
			}		
			.ho-tro{
				font-family: $f_regular;
				font-size: 16px;
				color: #ffffff;
				text-transform: uppercase;
				@media(max-width: 740px){
					font-size: 25px;
				}
			}
			.truc-tuyen{
				font-family: $f_bold;
				font-size: 26px;
				color: #ffffff;
				text-transform: uppercase;
				@media(max-width: 992px){
					font-size: 20px;
				}
				@media(max-width: 740px){
					font-size: 35px;
				}
				@media(max-width: 240px){
					font-size: 25px;
				}
			}
		}
	}	
	.support-hotline{
		margin-top: 10px;
		text-align: center;			
		margin-left: auto;
		margin-right: auto;
		width: 225px;	
		@media(max-width: 240px){
			width: 180px;
		}		
		.support-phone-icon{
			float: left;
			margin-top: 8px;
		}
		.support-phone-number{
			float: left;
			font-family: $f_bold;
			font-size: 26px;
			color: #000;
			margin-left: 10px;
			@media(max-width: 240px){
				font-size: 20px;
				margin-top: 5px;
			}
		}
	}
	.call-skype-viber-zalo{
		font-family: $f_regular;
		font-size: 16px;
		text-align: center;
		margin-top: 10px;
		color: #000000;
		padding: 0px 20px;
		@media(max-width: 240px){
			font-size: 14px;
			padding: 0px 10px;
		}
	}
	.support-email{
		margin-top: 10px;
		padding: 0 10px;
		text-align: center;
		a{
			font-family: $f_regular;
			font-size: 16px;			
			color: #000000;	
			@media(max-width: 240px){
				font-size: 12px;
			}		
		}					
	}
	.cara-call-skype-viber-zalo{
		text-align: center;
		margin-top: 10px;
		padding: 0px 20px;
	}
}
.cac-dich-vu-chinh{
	font-family: $f_bold;
	font-size: 22px;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	@media(max-width: 240px){
		font-size: 20px;
	}
}
.main-service{
	margin-top: 20px;
	.dvc{
		margin-bottom: 20px;
		position: relative;
		border-radius: 10px;
		height: 225px;
		width: 100%;
		background-size: cover;
		h3{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 20px;
			a{
				font-family: $f_bold;
				font-size: 22px;
				color: #ffffff;
				text-transform: uppercase;		
				@media(max-width: 992px){
					font-size: 20px;
				}	
				@media(max-width: 240px){
					font-size: 15px;
				}		
			}
		}			
	}		
}	
.rapidshare{
	margin-top: 25px;
	.facebook_button{
		margin-left: 0px;
		float: left;
	}
	.facebook_like_button{
		margin-left: 10px;
		float: left;
	}
	.category_twitter_sg{
		margin-top: 2px;
		margin-left: 10px;
		float: left;
		@media(max-width: 1024px){
			margin-left: 5px;
		}
	}
	.category_linkedin_sg{
		margin-top:2px;
		margin-left: 10px;
		float: left;
		@media(max-width: 1024px){
			margin-left: 5px;
		}
	}
	.category_g_plus_sg{			
		margin-left: 10px;
		float: left;
		@media(max-width: 1024px){
			margin-left: 5px;
		}
	}
}
#baogiamodal{
	.modal-dialog{
		max-width:875px;
		.modal-content{
			border-radius: 20px;
			.modal-body{
				padding: 0;
				.cbblose{
					position: absolute;
					top: 5px;
					right: 5px;
					a{
						display: block;
						padding: 0px 5px;
						color: #ffffff;    
						border-radius: 11px;
						background-color: $logo_bg;
					}	
				}
				.radialmodal{
					width: 30%;
					height:563px;
					background-image: url(../img/img_tranggioithieu.png);
					background-repeat: no-repeat;
					background-size: cover;
					float: left;
					background-position: -125px 0px;
					border-radius: 20px 0px 0px 20px;
				}
				.info_modal{
					float: left;
					width: 70%;
					padding: 40px;
					.info_title{
						color: #f7941e;
						text-transform: uppercase;
						font-family: $f_bold;
						font-size: 24px;
						margin-bottom: 30px;
					}	
					.ck_contact{
						margin-bottom: 5px;
					}
					.ck_submit{
						margin-top: 10px;
						a{
							display:block;
							color: #ffffff;
							padding: 5px 50px;
							background-color: #e8a61b;
							font-family: $f_bold;
							font-size: 15px;
							text-transform: uppercase;
							border-radius: 18px;
							float: left;
							@include p-web(transition,all 0.5s);
							&:hover{
								background-color: #d79200;
							}
						}
					}
				}
			}		
		}	
	}	
}
.article_box2{
	border:1px solid #f0e3ca;		
	margin-bottom: 30px;		
	.article_hinh_anh2{
		float: left;
		width: 110px;
		@media(max-width: 1024px){
			width: 85px;
		}	
		@media(max-width: 992px){
			width: 100%;
		}	
		@media(max-width: 576px){
			width: 110px;
		}
		@media(max-width: 360px){
			width: 110px;
		}	
		@media(max-width: 320px){
			width: 65px;
		}
		@media(max-width: 240px){
			width: 100%;
		}
		a{
			display: block;
			.news-bx-img2{
				background-repeat: no-repeat;
				background-size: cover;
				padding-top: calc(100% / (400 / 400));
			}
		}
	}
	.article_info2{
		padding-top: 15px;
		padding-left: 15px;
		padding-bottom: 15px;
		padding-right: 15px;
		float: left;
		width: 225px;
		@media(max-width: 1024px){
			width: 200px;
			padding: 5px 0px 0px 15px;
		}
		@media(max-width: 992px){
			width: 100%;
		}				
		@media(max-width: 576px){
			width: 240px;
		}
		@media(max-width: 375px){
			width: 200px;
		}
		@media(max-width: 360px){
			width: 215px;
		}
		@media(max-width: 320px){
			width: 220px;
			padding-top: 0px;		
			padding-bottom: 0px;		
		}	
		@media(max-width: 240px){
			width: 100%;
			padding-top: 15px;		
			padding-bottom: 15px;
			padding-left: 5px;
			padding-right: 5px;		
		}		
		.article_info_date_post2{
			color: #aaaaaa;
			font-size: 12px;
			@media(max-width: 320px){
				display: none;
			}
			@media(max-width: 240px){
				display: block;
			}
		}
		.article_info_title2{
			margin-top: 10px;
			@media(max-width: 320px){
				margin-top: 0;
			}
			a{
				font-size: 15px;
				color: #e8a61b;
				text-transform: uppercase;
				@include p-web(transition,all 0.5s);
				line-height: 25px;
				display: block;    
				&:hover{
					color: #ff0000;
				}	
				@media(max-width: 1024px){
					font-size: 12px;
				}	
				@media(max-width: 320px){
					font-size: 12px;
				}
				@media(max-width: 240px){
					font-size: 15px;
				}					
			}
		}
		.article_info_intro2{
			font-size: 15px;
			margin-top: 10px;	
			height: 130px;
			overflow: hidden;
			@media(max-width: 1024px){
				height: 90px;
			}
			@media(max-width: 576px){
				display: none;
			}	
			@media(max-width: 240px){
				display: block;
			}				
		}
	}
}