// ---------------------------------------
// Add var
// ---------------------------------------
/* begin standard */
$mau:#0a323e; 
$mau_dam:darken($mau,5%);
$body_color:#3a4449;
$menu_color_hover_active:#ecbd70;
$menu_color:#ecbd70;
/* end standard */
$logo_bg:#ecbd70;
$menu_bg:#0a323e;
$ddsmoothmenu_border:#909090;




